PySide6==6.11.0
numpy==2.4.3
Pillow==12.1.1
mss==10.1.0
RapidFuzz==3.14.3
pywin32==311
bettercam==1.0.0
rapidocr-onnxruntime==1.2.3
rapid-layout==1.2.1
opencv-python==4.13.0.92
ctranslate2==4.7.1
sentencepiece==0.2.1
huggingface_hub==1.8.0
